


.round_Winner {
    display: flex;
    background-color: rgb(55 65 81 / var(--tw-bg-opacity));
--tw-bg-opacity: 0.2;
padding: 0.25rem;
margin: 0;
}


.RoundValue{
    color: rgba(35, 244, 35, 0.996);
}



